* {
    margin: 0;
}

:root {
    --color-primary: white;
    --color-secondary: black;
    --color-text: black;
    --color-button-background:#353535;
    --color-button-hover: black;
    --color-button-border: black;
    --color-button-text: black;
    --color-button-1-text: white;
}

.dark-mode {
    --color-primary: #0C0030;
    --color-secondary: white;
    --color-text: white;
    --color-button-background:#9777D9;
    --color-button-hover: #9777D9;
    --color-button-border: #9777D9;
    --color-button-text: #9777D9;
    --color-button-1-text: #9777D9;
}

body {
    font-family: "Courier Prime", monospace;
    background-color: var(--color-primary);
    transition: all .4s ease-in-out;
    color: var(--color-secondary);
}

html {
    scroll-behavior: smooth;
}

// Transition
a, .btn {
    transition: all 0.3 ease;
}

a {
    text-decoration: none;
    color: unset;
}

a:visited {
    color: unset;
}

// Desktop navbar
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .nav-links {
        display: flex;
        gap: 2rem;
        list-style: none;
        font-size: 1.5rem;
    }

    a:hover {
        text-decoration: underline;
        text-underline-offset: 1rem;
    }

    .my-logo {
        font-size: 2rem;
    } & :hover {
        cursor: default;
    }
}

// Hamburger navbar
#hamburger-nav {
    display: none;
    position: fixed;
    width: -webkit-fill-available;
    backdrop-filter: blur(25px);
    height: 60px;
    border-bottom: 1px solid rgba(31, 31, 31, 0.05);
    transition: all 0.3 ease-in-out;
}

.hamburger-menu {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    justify-content: space-evenly;
    align-items: center;
    padding: 18px 0px;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 23px;
    width: 26px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
}

.menu-links {
    display: none;
}

.menu-links {
    a {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
        color: var(--color-secondary);
        text-decoration: none !important;
        transition: all 0.3 ease-in-out;
    }

    li {
        list-style: none;
    }
}    

.menu-links.open {
    display: unset;
}

#hamburger-nav.open {
    height: fit-content;
}

.hamburger-icon.open {
    span:first-child {
        transform: rotate(45deg) translate(10px, 5px);
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:last-child {
        transform: rotate(-45deg) translate(10px, -5px);
    }
}

.hamburger-icon span:first-child {
    transform: none;
    opacity: 1;
}

// Section
section {
    height: 100vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

// Profile section
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
}
  
.section-text {
    align-self: center;
    text-align: center;
}
  
.section-text p {
    font-weight: 600;
}
  
.section-text-p1 {
    text-align: center;
}
  
.section-text-p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
  
.title {
    font-size: 3rem;
    text-align: center;
}
  
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
  
// Icons
.icon {
    cursor: pointer;
    height: 2rem;
}

// Buttons
button {
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
}

.btn-color-1 {
    background: var(--color-button-background);
    color: white;
    border-style: solid;
    border-color: var(--color-button-border);
}

.btn-color-1:hover {
    background: var(--color-secondary);
    color: var(--color-button-1-text);
    border-color: var(--color-button-border);
}

.btn-color-2 {
    background: none;
    border-style: solid;
    color: var(--color-button-text);
    border-color: var(--color-button-border);
}

.btn-color-2:hover {
    background: var(--color-button-background);
    color: white;
}

.btn-container {
    gap: 1rem;
}

// About section
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
  
.about-details-container {
    flex-direction: column;
}
  
.about-containers,
.about-details-container {
    display: flex;
}
  
.about-pic {
    border-radius: 2rem;
}
  
.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}
  
.details-container {
    padding: 1.5rem;
    flex: 1;
    background: var(--color-primary);
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.section-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
  
.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}
  
.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
  
.contact-info-container p {
    font-size: larger;
}
  
.contact-icon {
    cursor: default;
}
  
.email-icon {
    height: 2.5rem;
}

// Footer section
footer {
    margin: 0 1rem;

    p {
        text-align: center;
    }
}

.hide {
    display: none;
}

// Floating nav bar
#main-nav {
    position: fixed;
    width: -webkit-fill-available;
    backdrop-filter: blur(25px);
    height: 80px;
    border-bottom: 1px solid rgba(31, 31, 31, 0.05);
}

// Toggle for dark mode
.toggle {
    appearance: none !important;
    -webkit-tap-highlight-color: transparent !important;
    position: relative !important;
    border: 0 !important;
    outline: none !important;
    cursor: pointer !important;
    box-shadow: none !important;
    display: inline-block !important;
    width: 40px !important;
    height: 24px !important;
    margin: 0 !important;
    padding: 0 !important;

    // /* To create surface of toggle button */
    &::after {
        content: '' !important;
        position: absolute;
        left: 0 !important;
        top: 0 !important;
        width: 40px !important;
        height: 24px !important;
        display: inline-block !important;
        background: #BDBDBD !important;
        border-radius: 1rem !important;
        clear: both !important;
        margin: 0 !important;
        padding: 0 !important;
        z-index: 1;
    }

    // /* Contents before checkbox to create toggle handle */
    &::before {
        content: '' !important;
        position: absolute !important;
        left: 2px !important;
        top: 2px !important;
        width: 20px !important;
        height: 20px !important;
        display: block !important;
        border-radius: 100% !important;
        background: white !important;
        mask-image: url('./../assets/sun-logo.svg');
        mask-size: contain;
        mask-position: center center;
        mask-repeat: no-repeat;
        margin: 0 !important;
        padding: 0 !important;
        z-index: 2;
    }

    // /* Shift the handle to right on check event */
    &:checked::before {
        left: 18px !important;
        mask-image: url('./../assets/moon.svg');
        mask-size: contain;
        mask-position: center center;
        mask-repeat: no-repeat;
    }

    // /* Background color when toggle button will be active */
    &:checked::after {
        background: #4caf50 !important;
    }

    /* Transition for smoothness */
    &,
    &::before,
    &::after,
    &:checked::before,
    &:checked::after {
        transition: ease 0.3s !important;
    }
}

.resume-mobile {
    display: none;
}

// Mobile view
@media screen and (max-width: 1400px) {
    #profile {
      margin-bottom: 6rem;
    }

    .about-containers {
      flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #main-nav {
      display: none;
    }

    #hamburger-nav {
      display: flex;
      flex-direction: column;
    }

    section {
      margin: 0 5%;
    }

    .section-pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }

    .about-containers {
      margin-top: 0;
    }

  }

@media screen and (max-width: 600px) {
    nav .my-logo {
        font-size: 1.5rem;
    }

    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }

    .contact-info-container {
      margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }


    .logo {
      font-size: 1.5rem;
    }

    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }

    .section-pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }

    .section-text-p2 {
      font-size: 1.25rem;
    }

    .title {
      font-size: 2rem;
    }

    .text-container {
      text-align: justify;
    }

    .resume-desktop {
        display: none;
    }

    .resume-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .btn {
        width: 11rem;
    }
}

//Experience section
.my-experience-containers {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: -webkit-fill-available;
}

.experience-container {
    border: black 1px solid;
    padding: 1rem;
    cursor: pointer;
}

.experience-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-title {
    flex-direction: column;
}

.floating-effect {
    position: relative;
    transition: transform 0.3s ease-in-out;
    z-index: 1; // Ensure it appears above other elements
  
    &:hover {
      transform: translateY(-10px); // Adjust the vertical displacement as needed
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); // Add a subtle shadow for depth
    }
}

.expand-indicator {
    transition: transform 0.3s ease-in-out;
}

.expand {
    transform: rotate(90deg);
}

.column {
    flex-direction: column;
}

.dropdown {
    position: relative;

    &:hover .dropdown-content {
        display: block;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
        background-color: #ddd;
    }
}