* {
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body {
    font-family: "Courier Prime", monospace;
    background-color: var(--color-primary);
    font-size: 1.1rem;
    transition: all .4s ease-in-out;
    color: var(--color-white);
}

html {
    scroll-behavior: smooth;
}

// Transition
a, .btn {
    transition: all 300ms ease;
}

// Navbar
nav, .nav-links {
    display: flex;
}

nav {
    height: 17vh;
    align-items: center;
    justify-content: space-around;

    .nav-links {
        gap: 2rem;
        list-style: none;
        font-size: 1.5rem;
    }

    a {
        
    }
}